*{
	box-sizing: border-box;
}
.navbar-brand img{
	width: 50px;
	height: 50px;
	margin-right: 5px;
}
.navbar-toggler-icon{
	color: white;
}
.navbar-right{
	float: right;
}
i{
	margin-right: 5px;
}
.nav-item a:hover{
	font-size: 1.2em;
	color: white;
}
iframe{
	border-bottom: 5px;
}
.bg-1 span{
	position: absolute;
	bottom: 0%;
	left: 0%;
}
.container-fluid ul li{
	list-style: none;
	text-decoration: none;
	

}
.container-fluid ul li span{
	color: black;
	margin-bottom: 5px;
	border-bottom: black solid 1px;
}
.container-fluid a:hover{
	font-size: 1.2em;
	text-decoration: none;
	
}
@media(max-width:764px){
	iframe{
		width: 100%;
		height: auto;
	}
}


